<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item">{{> "link/link" url="./index.hbs" text="Чат"}}</li>
    <li class="menu__item">{{> "link/link" url="./signUp.hbs" text="Регистрация"}}</li>
    <li class="menu__item">{{> "link/link" url="./signIn.hbs" text="Авторизация"}}</li>
    <li class="menu__item">{{> "link/link" url="./profile.hbs" text="Профиль"}}</li> 
    <li class="menu__item">{{> "link/link" url="./error500.hbs" text="Стр. 500"}}</li> 
    <li class="menu__item">{{> "link/link" url="./error404.hbs" text="Стр. 404"}}</li>
  </ul>
</nav>