---
pageTitle: 404
---

{{!< general}}

<div class="error">
    <h1 class="error__title">404</h1>
    <div class="error__desc">
        Не туда попали
    </div>
    {{> "link/link" modifier="link_size-small" url="./index.hbs" text="Назад к чатам"}}
</div>