---
pageTitle: Чат
---

{{!< chat}}

<div class="chat-container">
    <div class="chat-list">
        chat list
    </div>
    <div class="chat-body"> 
        <div class="chat-content">Выберите чат чтобы отправить сообщение</div>
        <div class="message-control">
            <form>
                <input type="text" name="message" id="message-input" placeholder="Сообщение" class="message-control__input"/>
                <button>Send</button>
            </form>
        </div>
    </div>
</div>