---
pageTitle: Профиль
---

{{!< general}}
<a href="./index.hbs" class="back-control"></a>
<form class="form">
    <div class="block">
        <div class="block__top">
            <div class="profile">
                {{> "avatar/avatar" url="./avatar.hbs"}}
            </div>
        </div>
        <div class="block__middle">
            <div class="block__row block__row_border-grey">
                {{> "input/input" modifier="input_profile" type="text" name="email" nameRus="Почта" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"}}
            </div>
            <div class="block__row block__row_border-grey">
                {{> "input/input" modifier="input_profile" type="text" name="login" nameRus="Логин" required="required" pattern="[A-Za-z0-9_]{1,15}"}}
            </div>
            <div class="block__row block__row_border-grey">
                {{> "input/input" modifier="input_profile" type="text" name="first_name" nameRus="Имя" required="required" pattern="[A-Za-z]{1,20}"}}
            </div>
            <div class="block__row block__row_border-grey">
                {{> "input/input" modifier="input_profile" type="text" name="second_name" nameRus="Фамилия" required="required" pattern="[A-Za-z]{1,20}"}}
            </div>
            <div class="block__row block__row_border-grey">
                {{> "input/input" modifier="input_profile" type="text" name="display_name" nameRus="Имя в чате" required="required" pattern="[A-Za-z]{1,20}"}}
            </div>
            <div class="block__row">
                {{> "input/input" modifier="input_profile" type="text" name="phone" nameRus="Телефон" required="required" }}
            </div>
        </div>
        <div class="block__bottom block__bottom_center">
            <div class="block__button">
                {{> "button/button" text="Сохранить" modifier="button_width-auto"}}
            </div>
        </div>
    </div>
 </form>