---
pageTitle: Страница регистрации
---

{{!< general}}

<form>
    <div class="block block_shadow">
        <div class="block__top">
            <h4 class="block__title">Регистрация</h4>
        </div>
        <div class="block__middle">
            <div class="block__row block__row_m-b">
                {{> "input/input" type="text" name="email" nameRus="Почта" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"}}
            </div>
            <div class="block__row block__row_m-b">
                {{> "input/input" type="text" name="login" nameRus="Логин" required="required" pattern="[A-Za-z0-9_]{1,15}"}}
            </div>
            <div class="block__row block__row_m-b">
                {{> "input/input" type="text" name="first_name" nameRus="Имя" required="required" pattern="[A-Za-z]{1,20}"}}
            </div>
            <div class="block__row block__row_m-b">
                {{> "input/input" type="text" name="second_name" nameRus="Фамилия" required="required" pattern="[A-Za-z]{1,20}"}}
            </div>
            <div class="block__row block__row_m-b">    
                {{> "input/input" type="text" name="phone" nameRus="Телефон" required="required" }}
            </div>
            <div class="block__row block__row_m-b">
                {{> "input/input" type="password" name="password" nameRus="Пароль" required="required" pattern="\S+.*"}}
            </div>
            <div class="block__row block__row_m-b">
                {{> "input/input" type="password" name="password" nameRus="Пароль (еще раз)" required="required" pattern="\S+.*"}}
            </div>
        </div>
        <div class="block__bottom block__bottom_center">
            <div class="block__button">
                {{> "button/button" text="Зарегистрироваться"}}
            </div>
            {{> "link/link" modifier="link_size-small" url="./signIn.hbs" text="Войти"}}
        </div>
    </div>
 </form>