:root {
    --avatar-size: 130px;
}

.avatar-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: transparent;
    margin-bottom: calc(3 * var(--spacing-unit));
    position: relative;

    &__label {
        cursor: pointer;
        width: var(--avatar-size);
        height: var(--avatar-size);
        font-size: 13px;
        box-sizing: border-box;
        padding: 16px;
    }

    &__input {
        display: none;
    }

    &__img {
        position: absolute;
        object-fit: cover;
        width: var(--avatar-size);
        height: var(--avatar-size);
        border-radius: 50%;
        z-index: 0;
    }

    &:hover .avatar-block__label{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,.5);
        z-index: 10000;
        color: var(--color-white);
        transition: background-color .2s ease-in-out;
        border-radius: 100px;
    }
}